.header{
  background: #000;
  color: #eba;
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
  font-family: Jokerman;
}

.note{
  padding: 10px 10px;
  width: 200px;
  color: #000;
  background: linear-gradient(to bottom, #eba, #caf );
  box-shadow: #000;
  border-radius: 5%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 1%;
}

.footer{
  background: #000;
  color: #caf;
  width: 100%;
  margin-top: 1%;
  text-align: center;
  position: absolute;
  bottom: 0;
}